# -- Venafi Cloud ---
# Uncomment for Venafi Cloud

# venafi_api_key = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
# venafi_zone = "DevOps\\Terraform"

# ------ TPP -------
# Uncomment for Venafi Trust Protection Platform

# bundle_path = "/path/to/bundle.pem"
# access_token = "p0WTt3sDPbzm2BDIkoJROQ=="
# venafi_zone = "DevOps\\Terraform"

# tpp_url = "https://tpp.venafi.example"

# -----------------

citrix_address = "192.168.x.x"
citrix_username = "your_citrix_user"
citrix_password = "your_password"

test_site_name = "demo-citrix"
test_site_domain = "venafi.example"

citrix_virtual_ip = "192.168.7.68"
citrix_virtual_port = "443"
citrix_service_group_members = [ "192.168.6.201:8001", "192.168.6.201:8002", "192.168.6.201:8003" ]